:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.action-button {
  border: 1px solid #00ace1;
  background-color: white;
  color: #00ace1;
  margin-bottom: 1rem;
  &:first-of-type {
    margin-top: 1rem;
  }
}
